// Font Family
$font-main: 'Roboto', sans-serif;
$font-title: 'Jost', sans-serif;
$rufina: 'Rufina', serif;
$playfair-display: 'Playfair Display', serif;


// text Colors ---------------
$white: #ffffff;
$black: #000000;
$black2: #222222;
$black3: #888888;
$grey: #f8f8f8;

// Theme Color
$theme-color-main: #262626;
$theme-color-main2: #A67314;
$theme-color-main3: #0a0a0a;


// Responsive Variables 
$xxl-layout : 'only screen and (max-width: 1600px)';
$xx-layout : 'only screen and (min-width: 1366px) and (max-width: 1600px)';
$xl-layout : 'only screen and (min-width: 1200px) and (max-width: 1365px)';
$lg-layout : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs-layout:'only screen and (max-width: 767px)';
$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
$sm2-layout: 'only screen and (max-width: 540px)';
$ms-layout:'only screen and (max-width: 480px)';
$ms2-layout:'only screen and (max-width: 320px)';



