{% load i18n %}
<footer class="footer-home-03 bg-main3 pp-footer">
    <div class="container">
        <div class="row pp-footer-top">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="pp-footer-block">
                    <h2 class="brand-name">{{ BRAND_NAME }}</h2>
                    <p class="brand-tagline">{{ BRAND_TAGLINE }}</p>
                    <p>A curated collection of the world's finest timepieces. Every watch is
                       independently authenticated, fully insured, and delivered with signature service.</p>
                    <div class="social-icon-style-2">
                        <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-6">
                <div class="pp-footer-block">
                    <h4>Shop</h4>
                    <ul>
                        <li><a href="{% url 'shop:browse' %}">All Watches</a></li>
                        {% for b in nav_brands|slice:":5" %}
                        <li><a href="{% url 'shop:browse' %}?brand={{ b.slug }}">{{ b.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-6">
                <div class="pp-footer-block">
                    <h4>Customer Care</h4>
                    <ul>
                        <li><a href="{% url 'membership_public' %}">The Crest Membership</a></li>
                        <li><a href="{% url 'pages:about' %}">About Us</a></li>
                        <li><a href="{% url 'pages:faq' %}">FAQ</a></li>
                        <li><a href="{% url 'pages:contact' %}">Contact</a></li>
                        <li><a href="{% url 'blog:list' %}">Journal</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="pp-footer-block">
                    <h4>Authenticity Guaranteed</h4>
                    <ul>
                        <li><i class="fa fa-shield"></i> Every watch independently authenticated</li>
                        <li><i class="fa fa-truck"></i> Fully insured overnight delivery</li>
                        <li><i class="fa fa-archive"></i> Box &amp; papers verified</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row pp-footer-bottom align-items-center">
            <div class="col-md-4 col-12">
                <p class="text-copyright">&copy; {% now "Y" %} {{ BRAND_NAME }}. {{ BRAND_FOOTER_ATTRIBUTION }}.</p>
            </div>
            <div class="col-md-4 col-12 text-center">
                <p class="pp-footer-legal">
                    <a href="{% url 'pages:privacy' %}">Privacy Policy</a>
                    <a href="{% url 'pages:terms' %}">Terms &amp; Conditions</a>
                    <a href="{% url 'pages:contact' %}">Contact</a>
                </p>
            </div>
            <div class="col-md-4 col-12 text-md-right">
                <p class="pp-demo-disclaimer">{{ BRAND_DEMO_DISCLAIMER }}</p>
            </div>
        </div>
    </div>
</footer>
