{% load wagtailimages_tags %}
{% if articles %}
<div class="sidebar-widget">
    <div class="widget-title"><h4><span>Latest News</span></h4></div>
    <div class="recent-post-block2">
        {% for a in articles %}
        <div class="inews-post-item">
            <div class="inews-post-thumb"><a href="{{ a.url }}">
                {% if a.hero_image %}{% image a.hero_image fill-110x84 alt=a.hero_alt_text %}{% endif %}</a></div>
            <div class="inews-post-info">
                <div class="inews-post-title"><h3><a href="{{ a.url }}">{{ a.title }}</a></h3></div>
                <div class="inews-post-meta"><span class="inews-post-date"><i class="fas fa-calendar-alt"></i>
                    {{ a.publish_display_date|default:a.first_published_at|date:"M j, Y" }}</span></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
